<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>RelayEmail</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>io.simplelogin.ios-app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>auth.simplelogin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.relayemail.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>relayemail</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Restrict unwelcome access to your RelayEmail app on this device</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>RelayEmail needs photo library access to update your profile photo</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.relayemail.quickaction.random</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Random Alias</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Create &amp; copy instantly</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>wand.and.stars</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.relayemail.quickaction.create</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Alias</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.relayemail.quickaction.search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search Aliases</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
